<li class="list-group-item clearfix">
  <!-- Each conversation has a subject and a handful of messages which will be rendered on the show page-->
  <%= link_to conversation.subject, conversation_path(conversation) %>

  <!--Add an “Add to trash” button for each conversation that is not yet trashed.-->
  <!-- For trashed conversations, the “Restore” button should be displayed. -->
  <div class="btn-group-vertical pull-right">
    <% if conversation.is_trashed?(current_user) %>
      <%= link_to 'Restore', restore_conversation_path(conversation), class: 'btn btn-xs btn-info', method: :post %>
    <% else %>
      <%= link_to (fa_icon "trash").to_s, conversation_path(conversation), class: 'btn btn-xs btn-danger', method: :delete,
                  data: {confirm: 'Are you sure you want to delete this?'} %>
        <% if conversation.is_unread?(current_user) %>
          <%= link_to 'Mark as read', mark_as_read_conversation_path(conversation), class: 'btn btn-xs btn-info', method: :post %>
        <% else %>

        <% end %>
    <% end %>
  </div>

  <p><%= render 'conversations/participants', conversation: conversation %></p>

  <!-- display the last message of the conversation and its creation date -->
  <p><%= conversation.last_message.body %>
    <small>(<span class="text-muted"><%= conversation.last_message.created_at.strftime("%-d %B %Y, %H:%M:%S") %></span>)</small>
  </p>
</li>
