<div class="main-container">
    <section class="pt240 pb240 parallax image-bg overlay bg-light banner">
        <div class="background-image-holder">
            <%= image_tag("home19.jpg") %>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center stat-3">
                    <h1 class="banner-text">INFLUENCER</h1>
                    <h3>Connecting budding female entrepreneurs with mentors that will help them grow.</h3>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->

    </section>
    <section class="pb0">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-sm-12 text-center">
                    <h6 class="uppercase fade-half"></h6>
                    <h3 class="mb0">Pick an Industry and start connecting!</h3>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <section class="projects">
        <div class="container">
            <div class="masonry-loader">
                <div class="col-sm-12 text-center">
                    <div class="spinner"></div>
                </div>
            </div>

            <!-- start here -->
            <div class="row masonry masonryFlyIn">
                <div class="col-sm-6 masonry-item project" data-filter="People">
                    <div class="image-tile hover-tile text-center">
                      <%= image_tag("home12.jpg") %>

                        <div class="hover-state">
                            <a href="/industry.1">
                                <h3 class="uppercase mb8">Tech</h3>
                            </a>
                        </div>
                    </div>
                    <!--end of hover tile-->
                </div>
                <!-- end here -->


                <div class="col-sm-6 masonry-item project" data-filter="People">
                    <div class="image-tile hover-tile text-center">
                        <%= image_tag("home12.jpg") %>
                        <div class="hover-state">
                            <a href="/industry.2">
                                <h3 class="uppercase mb8">Medicine</h3>
                            </a>
                        </div>
                    </div>
                    <!--end of hover tile-->
                </div>
                <div class="col-sm-6 masonry-item project" data-filter="People">
                    <div class="image-tile hover-tile text-center">
                        <%= image_tag("home12.jpg") %>
                        <div class="hover-state">
                            <a href="/industry.3">
                                <h3 class="uppercase mb8">Finance</h3>
                            </a>
                        </div>
                    </div>
                    <!--end of hover tile-->
                </div>
                <div class="col-sm-6 masonry-item project" data-filter="People">
                    <div class="image-tile hover-tile text-center">
                        <%= image_tag("home12.jpg") %>

                        <div class="hover-state">
                            <a href="/industry.4">
                                <h3 class="uppercase mb8">Design</h3>
                            </a>
                        </div>
                    </div>
                    <!--end of hover tile-->
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <section class="pt240 pb240 parallax image-bg overlay">
        <div class="background-image-holder">
            <img alt="image" class="background-image" src="img/home21.jpg" />
        </div>
    </section>


    <footer class="footer-1 bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <img alt="Logo" class="logo" src="img/logo-light.png" />
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h6 class="title">Recent Posts</h6>
                        <hr>
                        <ul class="link-list recent-posts">
                            <li>
                                <a href="#">Blog post title</a>
                                <span class="date">February
                                    <span class="number">14, 2015</span>
                                </span>
                            </li>
                            <li>
                                <a href="#">Blog post title</a>
                                <span class="date">February
                                    <span class="number">9, 2015</span>
                                </span>
                            </li>
                            <li>
                                <a href="#">Blog post title</a>
                                <span class="date">January
                                    <span class="number">27, 2015</span>
                                </span>
                            </li>
                        </ul>
                    </div>
                    <!--end of widget-->
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h6 class="title">Latest Updates</h6>
                        <hr>
                        <div class="twitter-feed">
                            <div class="tweets-feed" data-widget-id="492085717044981760">
                            </div>
                        </div>
                    </div>
                    <!--end of widget-->
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h6 class="title">Instagram</h6>
                        <hr>
                        <div class="instafeed" data-user-name="mrareweb">
                            <ul></ul>
                        </div>
                    </div>
                    <!--end of widget-->
                </div>
            </div>
            <!--end of row-->
            <div class="row">
                <div class="col-sm-6">
                    <span class="sub">&copy; Copyright 2016 - Bunch of cool Learn Students</span>
                </div>
                <div class="col-sm-6 text-right">
                    <ul class="list-inline social-list">
                        <li>
                            <a href="#">
                                <i class="ti-twitter-alt"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="ti-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="ti-dribbble"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="ti-vimeo-alt"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--end of container-->
        <a class="btn btn-sm fade-half back-to-top inner-link" href="#top">Top</a>
    </footer>
</div>

</body>
</html>
